<!DOCTYPE html>

<html>

<head>

    <title>Login 🔐</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='style.css') }}">

</head>

<body>

<div class="circle"></div>

<div class="circle2"></div>

<div class="container">

    <h1 class="typing">🔐 Login</h1>

    <form action="/login" method="POST">

        <input type="email"
               name="email"
               placeholder="📧 Enter Email"
               required>

        <div style="position:relative;">

            <input type="password"
                   id="password"
                   name="password"
                   placeholder="🔑 Enter Password"
                   required>

            <span onclick="showPassword()"
                  style="
                  position:absolute;
                  right:15px;
                  top:30px;
                  cursor:pointer;
                  font-size:18px;
                  opacity:0.4;">

                  👁

            </span>

        </div>

        <button type="submit"
                id="loginBtn"
                onclick="loading()">

            🔐 Login

        </button>

    </form>

    <button class="google"
            style="margin-top:10px;">

        <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png"
             width="20">

        Continue with Google

    </button>

    <a href="/register"
       class="register-btn">

       Create New Account

    </a>

    <p class="footer">

        Made with ❤️ by Rushikesh

    </p>

</div>

<script>

function showPassword(){

    var x =
    document.getElementById("password");

    if(x.type === "password"){

        x.type = "text";
    }

    else{

        x.type = "password";
    }
}

function loading(){

    document.getElementById("loginBtn")
    .innerHTML = "⏳ Logging In...";
}

</script>

</body>

</html>
